* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




@font-face {
    font-family: List-font;
    src: url(/assest/fonts/font2.ttf)
}

:root {
    --bg-color: #ffe0b2;
    --h2: #e65100;
    --bg-container:#ffffff;
    --input: #fff3e0;
    --addBtn: #ef6c00;
    --deket-btn: #d32f2f;
    --plc: #6c6c6c;
    --checked-icon: url(/assest/pic/checked-light.png);

}


body.darkmode {
    --bg-color: #00293e;
    --h2:#00537c ;
    --bg-container:#e2f6ff;
    --input:#b6d2df ;
    --addBtn:#00476b;
    --plc:#fff;
    --checked-icon:url(/assest/pic/checked-dark.png);
}


.container {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    padding: 10px;
}



.todo-app {
    width: 100%;
    max-width: 700px;
    background: var(--bg-container);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: var(--h2);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: List-font;
}

.todo-app h2 img {
    width: 35px;
    margin-left: 20px;
}

.theme_switcher{
    border: none;
    background: inherit;
    margin-left: 320px;
    cursor: pointer;
}



.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--input);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;

}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 14pt;

}

input::placeholder {
    font-size: 14pt;
    font-family: List-font;
    color:var(--plc);
}


.add_task_button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--addBtn);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    font-family: List-font;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    font-family: List-font;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(/assest/pic/unchecked\ 1.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

ul li.checked {
    color: #909090;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: var(--checked-icon);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: var(--deket-btn);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: var(--input);
}